<div class="field">
  <%= f.label :street %><br>
  <%= f.text_field :street %>
</div>
<div class="field">
  <%= f.label :city %><br>
  <%= f.text_field :city %>
</div>
<div class="field">
  <%= f.label :state %><br>
  <%= f.select :state, options_for_select(us_state_options) %>
</div>
<div class="field">
  <%= f.label :zip %><br>
  <%= f.text_field :zip %>
</div>
