<div class="field">
  <%= form.label :email %><br>
  <%= form.text_field :email %>
</div>
<div class="field">
  <%= form.label :first_name %><br>
  <%= form.text_field :first_name %>
</div>
<div class="field">
  <%= form.label :last_name %><br>
  <%= form.text_field :last_name %>
</div>
<%= form.fields_for :addresses, Address.home_for(resource) || Address.new do |builder| %>
  <%= render "users/address_fields", f: builder %>
<% end %>
<% if person.has_role? :doctor %>
  <div class="field">
    <%= form.label :specialty_ids %><br>
    <%= form.collection_select :specialty_ids, Specialty.all, :id, :name, {}, {multiple:true} %>
  </div>
<% end %>
<div class="field">
  <%= form.label :ailment_ids %><br>
  <%= form.collection_select :ailment_ids, Ailment.all, :id, :name, {}, {multiple:true} %>
</div>
<% if current_user && current_user.has_role?(:admin) %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
