<div class="field">
  <%= form.label :email %><br>
  <%= form.text_field :email %>
</div>
<div class="field">
  <%= form.label :first_name %><br>
  <%= form.text_field :first_name %>
</div>
<div class="field">
  <%= form.label :last_name %><br>
  <%= form.text_field :last_name %>
</div>
<div class="field">
  <%= form.label :street %><br>
  <%= form.text_field :street %>
</div>
<div class="field">
  <%= form.label :city %><br>
  <%= form.text_field :city %>
</div>
<div class="field">
  <%= form.label :state %><br>
  <%= form.select :state, options_for_select(us_state_options, person.state) %>
</div>
<div class="field">
  <%= form.label :zip %><br>
  <%= form.text_field :zip %>
</div>
<% if person.has_role? :doctor %>
  <div class="field">
    <%= form.label :specialty_ids %><br>
    <%= form.collection_select :specialty_ids, Specialty.all, :id, :name, {}, {multiple:true} %>
  </div>
<% end %>
<div class="field">
  <%= form.label :ailment_ids %><br>
  <%= form.collection_select :ailment_ids, Ailment.all, :id, :name, {}, {multiple:true} %>
</div>
