<p>
  <strong>Name:</strong>
  <%= person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= person.email %>
</p>

<p>
  <strong>Street:</strong>
  <%= person.street %>
</p>

<p>
  <strong>City:</strong>
  <%= person.city %>
</p>

<p>
  <strong>State:</strong>
  <%= person.state_name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= person.zip %>
</p>

<% if person.is_a? Doctor %>
  <strong>Specialties:</strong>
  <ul>
  <% person.specialties.each do |specialty| %>
    <li><%= specialty.name %></li>
  <% end %>
  </ul>
<% else %>
  <strong>Ailments:</strong>
  <ul>
  <% person.ailments.each do |ailment| %>
    <li><%= ailment.name %></li>
  <% end %>
  </ul>
<% end %>
