<p id="notice"><%= notice %></p>

<h1>
  Patient
</h1>

<%= render partial: "shared/show_person", locals: { person: @patient} %>

<strong>Appointments:</strong>
<table>
  <thead>
    <tr>
      <th>Doctor</th>
      <th>Time</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="patient-appointments">
    <%= render @patient.appointments %>
  </tbody>
</table><br>

<div id="new-patient-appointment">
  <%= render partial: 'appointments/form', locals: {patient: @patient, appointment: Appointment.new } %>
</div>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
