<p id="notice"><%= notice %></p>

<h1>
  Appointment for <%= "#{@appointment.patient.name}"%>
</h1>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor.name %>
</p>

<p id="patient-appointment-date">
  <strong>Date:</strong>
  <%= @appointment.date.to_s %>
</p>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src='https://www.google.com/maps/embed/v1/directions?key=AIzaSyAwwYeJl12ZnOERXKSnIUeTsNbqhaL78FE
    &origin=<%= "#{@appointment.patient.latitude},#{@appointment.patient.longitude}" %>
    &destination=<%= "#{@appointment.doctor.latitude},#{@appointment.doctor.longitude}" %>' allowfullscreen>
</iframe><br><br>

<div id="change-appointment-date">
  <%= render 'change_date_form' %>
</div>
<%= link_to 'Back', patient_path(@appointment.patient) %>
